<div class="row align-items-center pt-4 card border rounded p-2 bg-purple pb-5">
  <div class="col-12 text-center text-white pb-2">
    <h1 class="title">InnovationTech - Transformação Digital</h1>
  </div>
  <div class="col-md-12 text-center">
    <p>A transformação digital se trata do movimento de inclusão da tecnologias para solucionar problemas que
      dependem de mão de obra manual.
      <br />Pensando nesse contexto a <strong>InnovationTech</strong> surge para propor soluções desses problemas manuais
      com a comercialização de produtos digitais e projetos de inovação.
    </p>
  </div>
  <div class="row pb-5">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card bg-card" style="width: 20rem;">
        <img class="card-img-top "
          src="https://anymarket.com.br/wp-content/uploads/2018/07/ilustra-tecnologia-1024x730.png"
          style="height: 212px;">
        <div class="p-3">
          <h5 class="card-title text-center cor-texto-titulo-card font-weight-bold">Comercialização de Produtos</h5>
          <span class="cor-texto text-justify">Com o objetivo de promover a intregração digital a InnovationTech
             comercializa os produtos com a maior qualidade no mercado nacional.</span>
          <a href="/produtos/" class="btn btn-warning text-white font-weight-normal mt-4 d-block">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card bg-card" style="width: 20rem;">
        <img class="card-img-top" src="https://fce.edu.br/blog/wp-content/uploads/2018/01/tecnologia.png">
        <div class="p-3">
          <h5 class="card-title text-center cor-texto-titulo-card font-weight-bold">Projetos de Produtos Inovadores</h5>
          <span class="cor-texto text-justify">Visando a transformação digital nos mais diversos ramos da
            sociedade, a InnovationTech incentiva projetos de inovação técnologicas.</span>
          <a href="/inovacoes/" class="btn btn-warning text-white font-weight-normal mt-4 d-block">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>