
<div class="row align-items-center pt-4 card border rounded p-2 bg-purple">
  <div class="col-12 text-center text-white pb-2">
    <h1 class="title">Transformação Digital</h1>
  </div>
  <div class="col-md-12 text-center">
    <p>A transformação digital se trata do movimento de inclusão da tecnologias para solucionar problemas que
      dependem de mão de obra manual.
      <br />Pensando nesse contexto a (nome da nossa empresa) surge para propor soluções desses problemas manuais
      com a comercialização de produtos digitais e projetos de inovação.
    </p>
  </div>
  {{!-- <div class="col-md-4 text-center col-sm-12">
    <img class="img-fluid w-75" src="https://fce.edu.br/blog/wp-content/uploads/2018/01/tecnologia.png">
  </div> --}}
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://anymarket.com.br/wp-content/uploads/2018/07/ilustra-tecnologia-1024x730.png" style="height: 212px;">
        <div class="card-body">
          <h5 class="card-title text-center">Comercialização de Produtos</h5>
          <span class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</span>
          <p class="text-center mt-4"><a href="#" class="btn btn-success">Go somewhere</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card bg-light" style="width: 20rem;">
        <img class="card-img-top" src="https://fce.edu.br/blog/wp-content/uploads/2018/01/tecnologia.png">
        <div class="card-body">
          <h5 class="card-title text-center ">Projetos de Inovação</h5>
          <span class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</span>
          <p class="text-center mt-4"><a href="#" class="btn btn-success">Go somewhere</a></p>
        </div>
      </div>
    </div>
  </div>
</div>