<div class="row pt-3">
    <div class="col-12 text-center text-white">
        <h1>Cadastrar produto</h1>
    </div>
</div>
<div class="card border rounded bg-purple">
    <div class="p-5 justify-content-center">
        <form action="/produtos/create" method="POST">
            <div class="form-row">
                <div class="col-md-9 col-sm-12 mt-3">
                    <label for="nome" class="form-label font-weight-bold text-warning">Nome do Produto</label>
                    <input type="text" name="nome" placeholder="Digite o nome do produto" required class="form-control">
                </div>
                <div class="col-md-3 col-sm-12 mt-3">
                    <label for="valor" class="form-label font-weight-bold text-warning">Valor</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text">R$ </div>
                        <input type="text" name="valor" placeholder="Digite o preço" required class="form-control">
                    </div>

                </div>
            </div>
            <div class="mt-3">
                <label for="descricao" class="form-label font-weight-bold text-warning">Descrição</label>
                <textarea name="descricao" placeholder="Descrição do produto" required class="form-control"></textarea>
            </div>

            <div class=" mt-3">
                <label for="imagem" class="form-label font-weight-bold text-warning">Foto</label>
                <input type="text" name="imagem" required placeholder="Insira a URL da imagem" class="form-control" />
            </div>
            <div class="col-12 mt-3 text-center">
                <a href="/produtos/" class="btn btn-warning text-white font-weight-normal">Voltar</a>
                <button type="submit" class="btn btn-success ">Cadastrar</button>
            </div>
        </form>
    </div>
</div>